modules = ["python-3.10:v18-20230807-322e88b", "python-3.10:v25-20230920-d4ad2e4"]

hidden = [".pythonlibs"]
run = "python Assignments/Task2/cat_shelter.py"

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", ".replit"]
deploymentTarget = "cloudrun"
